version: "3"
services:
  jupyter:
    build:
      context: ./
      dockerfile: Dockerfile-base
      args:
        - USER_ID=${USER_ID} #* 
        - GROUP_ID=${GROUP_ID} #* 
        - USER=${USER_NAME} #*
    ports:
      - "${JUPYTER_PORT}:8888" #*
    expose:
      - "8888"
      - "4000" # nbdev documentation
    environment:
      - WANDB_API_KEY=${WANDB_API_KEY} #*
      - GH_TOKEN=${GH_TOKEN} #*
      - CUDA_VISIBLE_DEVICES=${CUDA_VISIBLE_DEVICES}
      - WANDB_DIR=/home/${USER_NAME}/work
    volumes:
      - ${WORK_PATH}:/home/${USER_NAME}/work #*
      - ~/.gitconfig:/etc/gitconfig # Need to create this file!
      - ${LOCAL_DATA_PATH}:/home/${USER_NAME}/data/ #*
    deploy:
        replicas: 1
        restart_policy:
            condition: on-failure
        resources:
            reservations:
                devices:
                    - capabilities:
                        - gpu
